$blue-theme-main-color: #2196f3;
$red-theme-main-color: #f32151;
$green-theme-main-color: #0ed64a;

$main-color-alt: #1787e0;
$main-color-alt: #d8496a;
$main-color-alt: #3ee771;

$main-transition: 0.3s;
$main-padding-top: 100px;
$main-padding-bottom: 100px;
$section-background: #ececec;

@function getThemeColor($name) {
  @if $name == 'red' {
    @return $red-theme-main-color;
  }

  @if $name == 'green' {
    @return $green-theme-main-color;
  }

  @if $name == 'blue' {
    @return $blue-theme-main-color;
  }

  @return #000000;
}

$themes: 'red', 'blue', 'green';
