$main-color: #2196f3;
$main-color: #f32151;
$main-color: #0ed64a;

$main-color-alt: #1787e0;
$main-color-alt: #d8496a;
$main-color-alt: #3ee771;

$main-transition: 0.3s;
$main-padding-top: 100px;
$main-padding-bottom: 100px;
$section-background: #ececec;
