<section id="discount">
  <div class="image">
    <div class="content">
      <h2>We Have A Discount</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi asperiores consectetur, recusandae ratione
        provident necessitatibus, cumque delectus commodi fuga praesentium beatae. Totam vel similique laborum dicta
        aperiam odit doloribus corporis.
      </p>
      <img src="imgs/discount.png" alt="" />
    </div>
  </div>
  <div class="form">
    <div class="content">
      <h2>Request A Discount</h2>
      <form action="">
        <input class="input" type="text" placeholder="Your Name" name="name" />
        <input class="input" type="email" placeholder="Your Email" name="email" />
        <input class="input" type="text" placeholder="Your Phone" name="mobile" />
        <textarea class="input" placeholder="Tell Us About Your Needs" name="message"></textarea>
        <input type="submit" value="Send" />
      </form>
    </div>
  </div>
</section>

<style lang="scss">
  section {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;

    .image {
      background-image: url(../imgs/discount-background1.jpg);
      background-size: cover;
      color: white;
      flex-basis: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 1;
      animation: change-background 10s linear infinite;

      @media (max-width: 991px) {
        flex-basis: 100%;
      }

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(23 135 224 / 97%);
        z-index: -1;
      }
    }

    .form {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-basis: 50%;
      padding-bottom: 50px;

      @media (max-width: 991px) {
        flex-basis: 100%;
      }

      .input {
        display: block;
        width: 100%;
        margin-bottom: 25px;
        padding: 15px;
        border: none;
        border-bottom: 1px solid #ccc;
        background-color: #f9f9f9;
        caret-color: var(--main-color);

        &:focus {
          outline: none;
        }
      }

      textarea.input {
        resize: none;
        height: 200px;
      }

      [type='submit'] {
        display: block;
        width: 100%;
        padding: 15px;
        background-color: var(--main-color);
        color: white;
        font-weight: bold;
        font-size: 20px;
        border: none;
        cursor: pointer;
        transition: var(--main-transition);

        &:hover {
          background-color: var(--main-color-alt);
        }
      }
    }

    .content {
      text-align: center;
      padding: 0 20px;

      h2 {
        font-size: 40px;
        letter-spacing: -2px;
      }

      p {
        line-height: 1.6;
        font-size: 18px;
        max-width: 500px;
      }

      img {
        width: 300px;
        max-width: 100%;
      }
    }
  }

  @keyframes change-background {
    0%,
    100% {
      background-image: url('../imgs/discount-background1.jpg');
    }
    50% {
      background-image: url('../imgs/discount-background2.jpg');
    }
  }
</style>
