---
const { links } = Astro.props;
---

<header id="header">
  <div class="container">
    <a href="#" class="logo">Elzero</a>
    <ul class="main-nav">
      {
        links.map(({ text, url }) => (
          <li>
            <a href={url}>{text}</a>
          </li>
        ))
      }
    </ul>
  </div>
</header>

<style lang="scss">
  $main_color: #2196f3;
  $main_color_alt: #1787e0;
  $main_transition: 0.3s;
  $main_padding_top: 100px;
  $main_padding_bottom: 100px;
  $section_background: #ececec;

  header {
    background-color: white;
    position: relative;
    box-shadow: 0 0 10px #ddd;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      position: relative;
    }

    .logo {
      color: $main_color;
      font-size: 26px;
      font-weight: bold;
      height: 72px;
      display: flex;
      justify-content: center;
      align-items: center;

      @media (max-width: 767px) {
        width: 100%;
        height: 50px;
      }
    }

    .main-nav {
      display: flex;

      > li > a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 72px;
        position: relative;
        color: black;
        padding: 0 30px;
        overflow: hidden;
        font-size: 18px;
        transition: $main_transition;

        &:hover {
          color: $main_color;
          background-color: #fafafa;
        }

        @media (max-width: 767px) {
          padding: 10px;
          font-size: 14px;
          height: 40px;
        }
      }

      > li > a::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: $main_color;
        top: 0;
        left: -100%;
        transition: $main_transition;
      }

      > li > a:hover::before {
        left: 0;
      }

      @media (max-width: 767px) {
        margin: auto;
      }
    }
  }
</style>
