---
import MainTitle from '../MainTitle.astro';

const services = [
  { icon: 'fa-user-shield', name: 'Security' },
  { icon: 'fa-tools', name: 'Fixing Issues' },
  { icon: 'fa-map-marked-alt', name: 'Location' },
  { icon: 'fa-laptop-code', name: 'Coding' },
  { icon: 'fa-palette', name: 'Marketing' },
  { icon: 'fa-bullhorn', name: 'Social Media' },
];
---

<section id="services">
  <MainTitle>Services</MainTitle>

  <div class="container">
    {
      services.map(({ name, icon }) => (
        <div class="box">
          <i class:list={['fas', icon, 'fa-4x']} />
          <h3>{name}</h3>
          <div class="info">
            <a href="#">Details</a>
          </div>
        </div>
      ))
    }
  </div>
</section>

<style lang="scss">
  @import '~/assets/scss/_vars.scss';

  :global([data-theme='blue']) section .container .box {
    &::before {
      background-color: getThemeColor('blue');
    }

    h3 {
      color: getThemeColor('blue');
    }

    .info {
      &::before {
        background-color: getThemeColor('blue');
      }

      a {
        color: getThemeColor('blue');
      }
    }
  }

  :global([data-theme='red']) section .container .box {
    &::before {
      background-color: getThemeColor('red');
    }

    h3 {
      color: getThemeColor('red');
    }

    .info {
      &::before {
        background-color: getThemeColor('red');
      }

      a {
        color: getThemeColor('red');
      }
    }
  }

  :global([data-theme='green']) section .container .box {
    &::before {
      background-color: getThemeColor('green');
    }

    h3 {
      color: getThemeColor('green');
    }

    .info {
      &::before {
        background-color: getThemeColor('green');
      }

      a {
        color: getThemeColor('green');
      }
    }
  }

  section {
    padding-top: $main-padding-top;
    padding-bottom: $main-padding-bottom;
    position: relative;
    background-color: $section-background;

    .container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 40px;
    }

    .box {
      background-color: white;
      box-shadow:
        0 12px 20px 0 rgb(0 0 0 / 13%),
        0 2px 4px 0 rgb(0 0 0 / 12%);
      counter-increment: services;
      transition: $main-transition;
      position: relative;

      &::before {
        content: '';
        left: 50%;
        transform: translateX(-50%);
        height: 3px;
        top: -3px;
        position: absolute;
        width: 0;
        transition: $main-transition;
      }

      &:hover {
        transform: translateY(-10px);
      }

      &:hover::before {
        width: 100%;
      }

      i {
        margin: 30px auto 20px;
        display: block;
        text-align: center;
        color: #d5d5d5;
      }

      > h3 {
        text-align: center;
        margin: 20px 0 40px;
        font-size: 25px;
        color: getThemeColor('red');
      }

      .info {
        padding: 15px;
        position: relative;
        background-color: #f9f9f9;
        text-align: right;

        &::before {
          content: '0' counter(services);
          position: absolute;
          background-color: getThemeColor('red');
          color: white;
          left: 0;
          top: 0;
          height: 100%;
          width: 95px;
          font-size: 30px;
          font-weight: bold;
          display: flex;
          justify-content: center;
          align-items: center;
          padding-right: 15px;
        }

        &::after {
          content: '';
          position: absolute;
          background-color: #d5d5d5;
          top: 0;
          left: 80px;
          width: 50px;
          height: calc(100% + 0.4px);
          transform: skewX(-30deg);
        }
      }
    }
  }
</style>
