<section id="stats">
  <h2>Our Awesome Stats</h2>
  <div class="container">
    <div class="box">
      <i class="far fa-user fa-2x fa-fw"></i>
      <span class="number" data-goal="150">0</span>
      <span class="text">Clients</span>
    </div>
    <div class="box">
      <i class="fas fa-code fa-2x fa-fw"></i>
      <span class="number" data-goal="135">0</span>
      <span class="text">Projects</span>
    </div>
    <div class="box">
      <i class="fas fa-globe-asia fa-2x fa-fw"></i>
      <span class="number" data-goal="50">0</span>
      <span class="text">Countries</span>
    </div>
    <div class="box">
      <i class="far fa-money-bill-alt fa-2x fa-fw"></i>
      <span class="number" data-goal="500">0</span>
      <span class="text">Money</span>
    </div>
  </div>
</section>

<script></script>

<style lang="scss">
  @import '~/assets/scss/_vars.scss';

  :global([data-theme='blue']) section .box {
    &::before,
    &::after {
      background-color: getThemeColor('blue');
    }

    .text {
      color: getThemeColor('blue');
    }
  }

  :global([data-theme='red']) section .box {
    &::before,
    &::after {
      background-color: getThemeColor('red');
    }

    .text {
      color: getThemeColor('red');
    }
  }
  :global([data-theme='green']) section .box {
    &::before,
    &::after {
      background-color: getThemeColor('green');
    }

    .text {
      color: getThemeColor('green');
    }
  }

  section {
    padding-top: $main-padding-top;
    padding-bottom: $main-padding-bottom;
    position: relative;
    background-image: url('../imgs/stats.jpg');
    background-size: cover;
    min-height: 300px;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgb(255 255 255 / 95%);
    }

    h2 {
      font-weight: bold;
      font-size: 40px;
      width: fit-content;
      margin: 0 auto 50px;
      position: relative;
    }

    .container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 20px;
    }

    .box {
      background-color: white;
      padding: 30px 15px;
      text-align: center;
      position: relative;
      opacity: 0.8;
      transition: $main-transition;

      &::before,
      &::after {
        content: '';
        position: absolute;
        width: 2px;
        background-color: getThemeColor('red');
        transition: 1s;
        height: 0;
      }

      &::before {
        top: 0;
        right: 0;
      }

      &::after {
        left: 0;
        bottom: 0;
      }

      &:hover {
        opacity: 1;
      }

      &:hover::before,
      &:hover::after {
        height: 100%;
      }

      .number {
        display: block;
        font-size: 50px;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 10px;
      }

      .text {
        color: getThemeColor('red');
        font-style: italic;
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
</style>
