<h2><slot /></h2>

<style lang="scss">
  @import '~/assets/scss/_vars.scss';

  h2 {
    text-transform: uppercase;
    margin: 0 auto 80px;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 30px;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: $main-transition;

    &::before,
    &::after {
      content: '';
      width: 12px;
      height: 12px;
      background-color: $main-color;
      position: absolute;
      border-radius: 50%;
      top: 50%;
      transform: translateY(-50%);
    }

    &::before {
      left: -30px;
    }

    &::after {
      right: -30px;
    }

    &:hover::before {
      z-index: -1;
      animation: left-move 0.5s linear forwards;
    }

    &:hover::after {
      z-index: -1;
      animation: right-move 0.5s linear forwards;
    }

    &:hover {
      color: white;
      border: 2px solid white;
      transition-delay: 0.5s;
    }
  }

  @keyframes left-move {
    50% {
      left: 0;
      width: 12px;
      height: 12px;
    }
    100% {
      left: 0;
      border-radius: 0;
      width: 50%;
      height: 100%;
    }
  }

  @keyframes right-move {
    50% {
      right: 0;
      width: 12px;
      height: 12px;
    }
    100% {
      right: 0;
      border-radius: 0;
      width: 51%;
      height: 100%;
    }
  }
</style>
