---
const { author, stars, img } = Astro.props;
---

<article>
  <img src={img.src} alt="" />
  <h3>{author}</h3>
  <span class="title">Full Stack Developer</span>
  <div class="rate">
    {[...Array(5).keys()].map((index) => <i class:list={['fas fa-star', { filled: index + 1 <= stars }]} />)}
  </div>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores et reiciendis voluptatum, amet est natus quaerat
    ducimus
  </p>
</article>

<style lang="scss">
  @import '~/assets/scss/_vars.scss';

  article {
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
    border-radius: 6px;
    position: relative;

    img {
      position: absolute;
      right: -10px;
      top: -50px;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 10px solid $section-background;
    }

    h3 {
      margin: 0 0 10px;
    }

    .title {
      color: #777;
      margin-bottom: 10px;
      display: block;
    }

    .rate {
      .filled {
        color: #ffc107;
      }
    }

    p {
      line-height: 1.5;
      color: #777;
      margin-top: 10px;
      margin-bottom: 0;
    }
  }
</style>
